
<!DOCTYPE html>
<html lang="en">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<head>
  <title>{% block title %} Password Safe {% endblock %}</title>
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<link rel="icon" type ="text/css" href="https://clipground.com/images/lock-icon-clipart.jpg">	
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Password Safe</a>
    </div>
    
  </div>
</nav>
  
<div class="container">
  <h3>Home page</h3>
  <p>Your <b>Passwords</b> are <b>Safe</b> with us !!</p><br> Login/Sign up for further process
  <br>
  <a href= "login/">Log In</a><br>
  <a href="register/">Register</a>
</div>
</body>
</html>

</body>
