<!DOCTYPE html>
<html>
    <title>
        Update Page
    </title>
    <head>
    </head>
    <style>
        body{
            background-color: #f4f6f0;
        }
        #tle{
		background-color:#7e86c4/*21B6A8*/
            
        }
    </style>
    <body> 
<link rel="icon" type ="text/css" href="https://clipground.com/images/lock-icon-clipart.jpg">	

<center>
<h1 id ="tle">Update Information</h1>

<form action="updaterecord/{{mypwd.id }}" method="post">
{% csrf_token %}
<b>
<h2>Site name :<br></b></h2>
<input name="site" value="{{ mypwd.sname }}">
<br><br>
<b><h2>Password : <br></b></h2>
<input name="pd" value="{{mypwd.paswd}}"><br><br>

<input type="submit" value="Submit">
</form>

</center>
</body>
</html>